/*this section hides the dropdown list.*/
#nav ul li:hover ul {
    display: block;
    decoration:none;
}
/*this formats the dropdown options*/
#nav ul ul {
    display: none;
    decoration:none;
    position: absolute;
    /*background-color: #333;*/
    /*border: 5px solid #222;*/
    border-top: 0;
    margin-left: -5px;
    opacity: 0.05;
}
/*This section displays the subheadings as blocks. If commnented out, they become inline*/
#nav ul ul li {
    display: block;
    decoration:none;
}
/*color changes when text is hovered upon*/
#nav ul ul li a:hover {
    color: 	#FFD700;
    decoration:none;
}
